<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.boot.mappers.AttachmentMapper">
    <resultMap id="boardResult" type="Board">
        <result column="BOARD_NO" property="boardNo"/>
        <result column="BOARD_TYPE" property="boardType"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_WRITER" property="boardWriter"/>
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="ORIGIN_NAME" property="originName"/>
        <result column="CHANGE_NAME" property="changeName"/>
        <result column="COUNT" property="count"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="STATUS" property="status"/>
    </resultMap>

    <resultMap id="attachmentResult" type="Attachment">
        <result column="FILE_NO" property="fileNo"/>
        <result column="REF_BNO" property="refBno"/>
        <result column="FILE_TITLE" property="refBno"/>
        <result column="ORIGIN_NAME" property="originName"/>
        <result column="CHANGE_NAME" property="changeName"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="UPLOAD_DATE" property="uploadPath"/>
        <result column="FILE_LEVEL" property="fileLevel"/>
        <result column="STATUS" property="status"/>

    </resultMap>
    <resultMap id="replyResult" type="Reply">
        <result column="REPLY_NO" property="replyNo"/>
        <result column="REPLY_CONTENT" property="replyContent"/>
        <result column="REPLY_WRITER" property="replyWriter"/>
        <result column="CREATE_DATE" property="createDate"/>
    </resultMap>
    <select id="selectAttachmentCount" resultType="_int">
        SELECT COUNT(*)
        FROM ATTACHMENT
        WHERE STATUS = 'Y'
    </select>


    <select id="selectAttachmentList" resultMap="boardResult">
        SELECT BOARD_NO,
        BOARD_TITLE,
        BOARD_WRITER,
        ORIGIN_NAME,
        COUNT,
        TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
        FROM BOARD
        WHERE STATUS = 'Y'
        AND BOARD_TYPE = 2
        ORDER BY BOARD_NO DESC
    </select>


    <insert id="insertAttachment">
        INSERT
        INTO BOARD(
        BOARD_NO,
        BOARD_TYPE,
        BOARD_TITLE,
        BOARD_WRITER,
        BOARD_CONTENT,
        ORIGIN_NAME,
        CHANGE_NAME
        ) VALUES (
        SEQ_BNO.NEXTVAL,
        2,
        #{boardTitle},
        #{boardWriter},
        #{boardContent},
        #{originName},
        #{changeName}
        )
    </insert>


</mapper>