*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

  
    font-family: 고딕체;
    font-optical-sizing: auto ;
    font-style: normal;
    font-variation-settings: "wdth" 100;  
}
body{
    margin: 0;
    padding: 0;
    

}
ol,ul,li{
    list-style: none;
}

div{
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}
/* 화면 전체를 감싸는 div */
.wrap{
    width: 100%;
    height: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}
.wrap>div{
    width: 100%;
}

#topbar{height: 30px;}
#topbar>div{
    background: black;
    height: 100%;
    color: white;
}
#topbar>div>ul>li a{
    color: white;
    text-decoration: none;
}




/*      topsection*/

#topsection ul{
    display: flex;
    gap: 5px;
    padding-left: 5%;
    padding-top: 4px;
}
#header{height: 10%;}
#navigator{height: 10%;}
#section{height: 40%;}



#footer{height: 30%;}



#header>div{
    height: 100%;
    float: left;
}
#section{
    background-image: url(./0210실습용이미지모음/배경화면.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  100% 100%;
    cursor: pointer;
    outline: 0;
    
}
#section>div{
    width: 30%;
    height: 90%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#join-form{
    padding-left: 60px;
}

.none-pass{color: red;}
.pass{color: green;}
#join-form>input{
    display: flex;

}
#section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#insection>*{
    width: 100%;
   
}
#insection{
    width: 100%;
    height: 100%;
 
}

/*20, 65, 15*/
#header_1{width: 30%;}

/*여기서 header_1~2 비율 30%70%나누기*/
#header_1>div{
    
    float: left;
}

#header_1>div:nth-child(1){
    height: 100%;
    width: 30%;
    font-weight: 900;
}

#header_1-2-1{
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;

}

#header_1>div:nth-child(2){
    height: 100%;
    width: 70%;
    font-weight: 400;
    justify-content: center;
}



#header_1-2>div{
    width: 100%;
    height: 50%;
    
}
#header_1-1{
    background-image: url(./0210실습용이미지모음/rightquick07.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  60% 60%;
    cursor: pointer;
    outline: 0;
}

#header_2{width: 40%;}
#header_2{

    background-position: center;
    background-repeat: no-repeat;
    background-size:  40% 40%;
    cursor: pointer;
    outline: 0;
}
#header_2>a{
    background-size: 40%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
#header_3{
    width: 30%;
    background-image: url(./0210실습용이미지모음/dnlclcckwrl.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  50% 60%;
    cursor: pointer;
    outline: 0;
}

/*       nav*/

#navigator{
    border: 1px solid gray;
}
#navigator>ul>li a{
    color: black;
    
}
#navigator li a{
    color: gray;
    font-weight: bold;
    
}
#navigator>ul{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    
}

#navigator>ul>li{
    flex: 1;
    position: relative;
}
#navigator>ul>li ul{
    
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    background-color: white;
    
    opacity: 0.7;
    
    width: calc(100%-20px);
    padding: 10px 0;
    display: none;
}

#navigator>ul li a:hover+ul{
    display: block;
}
#navigator>ul li ul:hover{
    display: block;
}

/*    section*/

/*    midnav     */


/*    midheader    */

/*    footer    */
#footer_1{
    
    background: whitesmoke;
    width: 100%;
    height: 1%;
    
}
#footer_1>div{
    border: 1px solid rgb(180, 180, 192);
    gap: 60px;
    padding-left: 20px;
}
#footer_1>div>a{
    gap: 10px;
}
#footer_2{
    border: 1px solid rgb(180, 180, 192);
    padding-top: 3%;
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#footer_1>div>button{
    right: 10%;
}



#join-form>input:hover{
    
    border: 4px solid rgb(244, 58, 244);
}